txt/
backup/
*.swp
png/
*.png
*.eps
*.pdf
test*.C
*_C.C
*.root
*.out
batch*
LSF*
core.*
*.mat
*.txt
*.so
*.d
*.pcm
*.cxx_tmp
.DS_Store
pdf/
Perform/*
Eff
!Perform/*.C
!Perform/*.md
!Perform/*.sh
!Perform/BDT
!Perform/BDT/*
!Perform/BDTCent
!Perform/BDTCent/*
!Perform/BDTCent/Sig_BDT_KS/*
!Perform/BDTCent/Sig_BDT_LM/*
